body {
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    margin: 0 auto;
    font-family: -apple-system, Helvetica, sans-serif;
    color: #666;
    line-height: 1.5;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}

p {
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* 搜索栏start */
.search_index {
    position: fixed;
    display: flex;
    top: 0px;
    left: 50%;
    /* 使盒子居中 */
    transform: translateX(-50%);
    /* 固定的盒子应该有宽度 */
    width: 100%;
    height: 50px;
    min-width: 320px;
    max-width: 640px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 99;
    background-color: #f5e6c5;
}

.SEARCH {
    display: contents;
}

.search_index a {
    display: contents;
    width: 40px;
    height: 40px;
}

.search_index a img {
    margin-top: 15px;
    width: 30px;
    height: 23px;

}

.search {
    flex: 1;
    position: relative;
    top: 6px;
    height: 26px;
    border: 1px solid red;
    margin: 7px 0px;
    padding-left: 25px;
    border-radius: 40px;
    color: #000;
    font-size: 14px;
}

button {
    margin-top: 5px;
    margin-left: 1%;
    margin-right: 1%;
    border: none;
    background-color: #f5e6c5;
    font-size: 22px;
}

/* 搜索历史start */
.history {
    position: relative;
    margin-top: 50px;
    margin-left: 5%;
    width: 90%;
    height: 100px;
    overflow: hidden;
}

.history p {
    position: absolute;
    top: 2px;
    left: 1%;
    color: #000;
}

.history .shanchu {
    position: absolute;
    top: 3px;
    right: 5%;
    color: #000;
}

.history .xingxi {
    width: 94%;
    height: 50px;
    margin-top: 27px;
    margin-left: 3%;
    background-color: #ccc;
    border-radius: 5px;
}

.history .xingxi ul li {
    float: left;
    margin-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #e6e6e6;
    font-size: 13px;
    color: #000;
}

/* 搜索历史end */
/* 
.search::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 12px;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;

} */

.user {
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    text-align: center;
    color: #000;
}

/* 
.user::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -193px;
    background-size: 104px auto;
    margin: 5px auto -2px;
    上，左右，下
} */

/* 搜索栏end */